<%- include("../partials/user/header.ejs") %>
    <style>
        .error-message {
            color: red;
            font-size: 1rem;
            display: none;
        }


        .box:hover {
            animation-play-state: paused;
        }

        .box {
            background-color: darkgray;
            top: 70px;
            left: 43%;
            margin-bottom: 150px;
            background-color: black;
            position: relative;
            width: 200px;
            height: 300px;
            transform-style: preserve-3d;
            transform: perspective(1000px);
            animation: animate 30s linear infinite;
        }

        @keyframes animate {
            0% {
                transform: perspective(1000px) rotateY(0deg);
            }

            100% {
                transform: perspective(1000px) rotateY(360deg);
            }
        }

        .box span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            transform: rotateY(calc(var(--i) * 45deg)) translateZ(240px);
        }

        .box span::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
        }

        .box span img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>

    <main class="main">
        <div class="intro-section pt-lg-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="banner banner-big banner-overlay position-relative">
                            <a href="#">
                                <img src="assets/images/welcomeImage.png" alt="Banner" class="img-fluid">
                            </a>

                            <div class="banner-content d-flex justify-content-center align-items-end position-absolute w-100"
                                style="bottom: 1px;">
                                <a href="/shop" class="btn border border-light text-light banner-link">discover now<i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .banner-content -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-lg-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .intro-section -->

        <h2 class="text-center text-uppercase text-decoration-underline">Hot Sale Underway!</h2>
        <!-- <div class="box-container border border-success rounded" style="margin-left: 300px; margin-right: 300px;"> -->
        <div class="box">
            <% for( let i=0; i < products.length; i++ ) { %>
                <% if(products[i] && products[i].productImage && products[i].productImage.length> 0) { %>
                    <span class="border border-dark" style="--i: <%= i %>"
                        onclick="window.location.href='/productPage?id=<%=products[i]._id%>'">
                        <img src="/productImages/<%= products[i].productImage[0] %>" alt="Product Image">
                    </span>
                    <% } else { %>
                        <span style="--i: <%= i %>">
                            <img src="/defaultImage.jpg" alt="Default Image"> <!-- Fallback image -->
                        </span>
                        <% } %>
                            <% }; %>
        </div>
        </div>


        <div class="bestseller-products bg-light pt-3 pb-5 mb-5">
            <div class="block mb-3">
                <div class="block-wrapper ">
                    <div class="container">
                        <div class="heading heading-flex">
                            <div class="heading-left">
                                <h2 class="title">Bestsellers</h2><!-- End .title -->
                            </div><!-- End .heading-left -->

                            <div class="heading-right">
                                <a href="/shop?categories=&minPrice=0&maxPrice=5000&outOfStock=false&sortby=old-arrivals" class="title-link">View more Products <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .heading-right -->
                        </div><!-- End .header-flex -->

                        <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl" data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":2
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1440": {
                                    "items":5
                                }
                            }
                        }'>
                            <% products.forEach(products=> { %>
                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="/productPage?id=<%=products._id%>">
                                            <img src="productImages/<%= products.productImage[0] %>" alt="Product image"
                                                class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->
                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/productPage?id=<%=products._id%>">
                                                <%= products.productName%>
                                            </a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-cat text-black">
                                            <%=products.authorname%>
                                        </div><!-- End .product-cat -->
                                        <div class="product-price">
                                            <% if (products.offerPercentage) { %>
                                                ₹<%= (products.productPrice * (100 - products.offerPercentage)) / 100 %>
                                             <div class="ms-2 text-danger fw-bolder fs-3"><%= products.offerPercentage %>% OFF</div>    
                                            <% }else{ %>
                                            ₹<%= products.offerPrice %>
                                            <% } %>
                                        </div>
                                        <div class="old-price">
                                            <span class="original-price">₹<%=products.productPrice%></span>
                                        </div>

                                        <div class="product-footer">
                                            <div class="product-action">
                                                <% if(products.quantity> 0){ %>
                                                    <a onclick="addToCart('<%=products._id%>')"
                                                        class="btn-product btn-cart"><span>add to cart</span></a>
                                                    <% } else { %>
                                                        <a href="#" class="btn-product btn-cart disabled"><span>Not
                                                                Available</span></a>
                                                        <% } %>
                                                            <a onclick="addToWislist('<%=products._id%>')" class="btn-product btn-wishlist"><span>Add to
                                                                    Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                                <% }) %>
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .block-wrapper -->
            </div><!-- End .block -->
        </div><!-- End .bg-light pt-4 pb-4 -->
        ̣
        <div class="bestseller-products bg-light pt-2 pb-5 mb-5">
            <div class="block mb-4">
                <div class="block-wrapper ">
                    <div class="container">
                        <div class="heading heading-flex">
                            <div class="heading-left">
                                <h2 class="title">New Arrivals</h2><!-- End .title -->
                            </div><!-- End .heading-left -->

                            <div class="heading-right">
                                <a href="/shop?categories=&minPrice=0&maxPrice=5000&outOfStock=false&sortby=new-arrivals" class="title-link">View more Products <i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .heading-right -->
                        </div><!-- End .header-flex -->

                        <div class="owl-carousel carousel-equal-height owl-simple" data-toggle="owl" data-owl-options='{
                                    "nav": false, 
                                    "dots": true,
                                    "margin": 20,
                                    "loop": false,
                                    "responsive": {
                                        "0": {
                                            "items":2
                                        },
                                        "480": {
                                            "items":2
                                        },
                                        "768": {
                                            "items":3
                                        },
                                        "992": {
                                            "items":4
                                        },
                                        "1440": {
                                            "items":5
                                        }
                                    }
                                }'>
                            <% newArrivals.forEach(product=> { %>
                                <div class="product">
                                    <span class="product-label label-sale">Sale</span>
                                    <figure class="product-media">
                                        <a href="/productPage?id=<%=product._id%>">
                                            <img src="productImages/<%= product.productImage[0] %>" alt="Product image"
                                                class="product-image">
                                        </a>
                                    </figure><!-- End .product-media -->
                                    <div class="product-body">
                                        <h3 class="product-title"><a href="/productPage?id=<%=product._id%>">
                                                <%= product.productName%>
                                            </a></h3>
                                        <!-- End .product-title -->
                                        <div class="product-cat">
                                            <%=product.author%>
                                        </div><!-- End .product-cat -->
                                        <div class="product-price">
                                            <% if (product.offerPercentage) { %>
                                                ₹<%= (product.productPrice * (100 - product.offerPercentage)) / 100 %>
                                             <div class="ms-2 text-danger fw-bolder fs-3"><%= product.offerPercentage %>% OFF</div>    
                                            <% }else{ %>
                                            ₹<%= product.offerPrice %>
                                            <% } %>
                                        </div>
                                        <div class="old-price">
                                            <span class="original-price">₹<%=product.productPrice%></span>
                                        </div>

                                        <div class="product-footer">
                                            <div class="product-action">
                                                <% if(product.quantity> 0){ %>
                                                    <a onclick="addToCart('<%=product._id%>')"
                                                        class="btn-product btn-cart"><span>add to cart</span></a>
                                                    <% } else { %>
                                                        <a href="#" class="btn-product btn-cart disabled"><span>Not
                                                                Available</span></a>
                                                        <% } %>
                                                            <a onclick="addToWislist('<%=product._id%>')" class="btn-product btn-wishlist"><span>Add to
                                                                    Wishlist</span></a>
                                            </div><!-- End .product-action -->
                                        </div><!-- End .product-footer -->
                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                                <% }) %>
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .container -->
                </div><!-- End .block-wrapper -->
            </div><!-- End .block -->
        </div><!-- End .bg-light pt-4 pb-4 -->



        <div class="mb-5"></div><!-- End .mb-3 -->

        <div class="banner-group mb-5">
            <div class="container">
                <div class="row">
                    <% for(let i=0; i < categories.length; i++) { %>
                        <div class="col-md-6 col-lg-4">
                            <div class="banner banner-overlay" style="width: 425px; height: 212.5px;">
                                <a href="#">
                                    <img src="/categoryImages/<%= categories[i].categoryImage %>" alt="Banner">
                                </a>
                                <div class="banner-content">
                                    <h4 class="banner-subtitle text-white">
                                        <a class="text-decoration-none" href="#">
                                            <%= categories[i].description %>
                                        </a>
                                    </h4>
                                    <h3 class="banner-title text-white">
                                        <a class="text-decoration-none" href="#">
                                            <%= categories[i].name %>
                                        </a>
                                    </h3><!-- End .banner-title -->
                                    <!-- Modify the Discover Now button with a route to the shop -->
                                    <a href="/shop?categories=<%= categories[i]._id %>"
                                        class="btn border border-light text-light banner-link">
                                        Discover Now
                                        <i class="icon-long-arrow-right"></i>
                                    </a>
                                </div><!-- End .banner-content -->
                            </div><!-- End .banner -->
                        </div><!-- End .col-lg-4 -->
                        <% } %>
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .banner-group -->
    </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up text-success"></i></button>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>
        function addToCart(id) {
            fetch('/addToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: id, quantity: 1 })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Product added to cart successfully!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'warning',
                            text: 'Login first!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                })
                .catch(error => console.error('Error adding product to cart:', error));
        }

        function addToWislist(id) {
            fetch('/addToWishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ productId: id })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: 'Product added to wishlist successfully!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    } else {
                        Swal.fire({
                            icon: 'warning',
                            title: 'warning',
                            text: 'Login first!',
                            showConfirmButton: false,
                            timer: 1500
                        })
                    }
                })
                .catch(error => console.error('Error adding product to wishlist:', error));
        }
    </script>


    

    
    <%- include("../partials/user/footer.ejs") %>