<%- include("../partials/user/header.ejs") %>




        <div class="page-wrapper">
            <main class="main">
                <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                    <div class="container d-flex align-items-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>

                            <li class="breadcrumb-item active" aria-current="page">
                                <%=product.productName %>
                            </li>
                        </ol>
                    </div><!-- End .container -->
                </nav><!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="container">
                        <div class="product-details-top mb-2">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="product-gallery product-gallery-vertical">
                                        <div class="row">
                                            <figure class="product-main-image single-product-img">

                                                <img id="product-zoom"
                                                    src="/productImages/<%= product.productImage[0]%>"
                                                    data-zoom-image="/productImages/<%= product.productImage[0]%>"
                                                    alt="product image">

                                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                    <i class="icon-arrows"></i>
                                                </a>
                                            </figure><!-- End .product-main-image -->

                                            <div id="product-zoom-gallery" class="product-image-gallery ">
                                                <% for( let i=0; i < product.productImage.length; i++ ) { %>
                                                    <a class="product-gallery-item <%= i === 0 ? 'active' : '' %>"
                                                        href="#"
                                                        data-image="/productImages/<%= product.productImage[i]%>"
                                                        data-zoom-image="/productImages/<%= product.productImage[i]%>">
                                                        <img src="/productImages/<%= product.productImage[i]%>"
                                                            alt="product side">
                                                    </a>
                                                    <% } %>


                                            </div><!-- End .product-image-gallery -->
                                        </div><!-- End .row -->
                                    </div><!-- End .product-gallery -->
                                </div><!-- End .col-md-6 -->

                                <div class="col-md-6">
                                    <div class="product-details product-details-centered">
                                        <h1 class="product-title">
                                            <%= product.productName %>
                                        </h1><!-- End .product-title -->

                                        <div class="product-price">
                                            <% if (product.offerPercentage) { %>
                                                ₹<%= (product.productPrice * (100 - product.offerPercentage)) / 100 %>
                                             <div class="ms-2 text-danger fw-bolder fs-3"><%= product.offerPercentage %>%</div>    
                                            <% }else{ %>
                                            ₹<%= product.offerPrice %>
                                            <% } %>
                                        </div><!-- End .product-price -->

                                        <div>
                                            <span style="text-decoration: line-through;" class="original-price">₹<%=
                                                    product.productPrice %></span>
                                        </div>

                                        <div>
                                            <label>Author: <%= product.authorname %></label>
                                        </div>
                                        <div>
                                            <label>Year: <%= product.publishedYear %></label>
                                        </div>
                                        <div class="my-1">
                                            <div>
                                                <label>Category:</label>
                                                <a>
                                                    <%= product.category.name %>
                                                </a>
                                            </div>
                                        </div><!-- End .product-content -->

                                        <div>
                                            <label>Number of Pages:<%= product.pageCount %></label>
                                        </div><!-- End .details-filter-row -->
                                        <% if (product.status === 'Available') { %>
                                            <div>
                                              <a href="#" class="btn-product btn-cart mb-1" onclick="addToCart('<%= product._id %>')">
                                                <span>add to cart</span>
                                              </a>
                                            </div>
                                          <% } else { %>
                                            <p class="text-danger">Product is <%= product.status %></p> 
                                          <% } %>

                                        <div class="btn-product wishlist mb-4">
                                            <a href="#" class="btn-product btn-cart  btn-wishlist"><span>add to
                                                    wishlist</span></a>
                                        </div>
                                        <h5 class="text-center">Description</h5>
                                        <div class="product-details-footer">
                                            <div class="product-cat">
                                                
                                                    <%= product.productDescription %>
                                            </div>
                                        </div>

                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details-action -->
                            </div><!-- End .product-details -->
                        </div><!-- End .col-md-6 -->

                    </div><!-- End .row -->
                </div><!-- End .product-details-top -->

                <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl"
                    data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>

                    <% relatedProducts.forEach(relatedProduct=> { %>
                        <div class="product product-5 mx-3 text-center">
                            <figure class="product-media">
                                <a href="/productPage?id=<%= relatedProduct._id %>">
                                    <img src="/productImages/<%= relatedProduct.productImage[0] %>"
                                        alt="<%= relatedProduct.productName %>" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                        <span>add to wishlist</span>
                                    </a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <h3 class="product-title"><a href="/product?id=<%= relatedProduct._id %>">
                                        <%= relatedProduct.productName %>
                                    </a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹<%= relatedProduct.offerPrice %>
                                </div><!-- End .product-price -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                        <% }); %>

                </div><!-- End .owl-carousel -->l
        </div><!-- End .container -->
    </div><!-- End .page-content -->
    </main><!-- End .main -->
    <%- include("../partials/user/footer.ejs") %>


        <style>
            .single-product-img {
                width: 200px !important;
                height: auto;
                object-fit: contain;
            }

            .product-main-image img {
                max-width: none !important;
                width: auto !important;
                height: 500px !important;
                /* object-fit: contain !important; */
            }

            .wishlist {
                height: 50px;
            }
        </style>
        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.elevateZoom.min.js"></script>
        <script src="assets/js/bootstrap-input-spinner.js"></script>
        <script src="assets/js/jquery.magnific-popup.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>